body {margin:5; padding:0; font:bold 14px Courier;}
#menu_h {float:left ;}
#menu_h li {display: inline; margin: 0; padding: 0;}
#menu_h a {float: left; display: block; margin: 1px; padding: 5px; text-decoration: none; color: #2e4030; border-top-left-radius: 8px; background-color: #c0efc1;}
#menu_h a:hover {color: #c0efc1; font-size: 1.2em; background-color: #2e4030; text-decoration:underline;}

@font-face {
    font-family:bombfont ;
    src: url("./SoupLeaf.ttf");
}
.x {font-family: bombfont;}

h1 {color:rgb(36, 78, 36); font-family: bombfont; font-size: 7.5em; text-align: center;}

@font-face {
    font-family:blok ;
    src: url("./Blokletters-Balpen.ttf");
}
.y {font-family: blok;}

#botonesmenu {font-family:blok; display:block; margin:1px; padding:5px; text-decoration: none; color:rgb(44, 55, 43); border-radius: 8px; background-color:rgb(215, 255, 220); width:200px}
#botonesmenu:hover {color:rgb(215, 255, 220); background-color:rgb(44, 55, 43); text-decoration:underline;}
.fondo {background-image:url("./fondo.png"); font-family: reg;}